@media (max-width: 575.98px) {
  .shop_search {
    display: block !important;
  }
}
.category {
  transition: all 0.3s ease-in;
  border: 0.05px solid var(--primaryColor);
  border-radius: 5px;
}
.category:hover {
  border: 2px solid var(--primaryColor);
}
